body {
    padding:0px;
    margin:0px;
}
#gameContainer {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.cell {
    display:block;
    float: left;
    border: 0px;
    background:black;
    text-align:center;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-size:9px;
    vertical-align: middle;
    overflow:hidden;
    height:16px;
    width:16px;
}